<html>
	<head>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jsencrypt.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<!--<link rel="stylesheet" href="/css/bootstrap-theme.css">-->
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<style type="text/css">
			#chat-box {
				border-color: #ddd;
				border-width: 1px;
				height: 300px;
				border-style: solid;
				border-top-color: transparent;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				display: none;
			}
			#chat-nav {
				display: none;
			}
			#chatter {
				margin-bottom: -10px;
			}
			#conversation {
				height: 265px;
				overflow-x: hidden;
				overflow-y: scroll;
				word-wrap: break-word;
				white-space: pre;
			}

			#settings-logo {
				top: 3px;
			}

			#title {
				font-family: 'Lobster', cursive;
				color: red;
			}
			#title:hover{
				cursor: default;
			}

			#chat-nav {
				margin-top: 25px;
			}
			#settings {
				height: 300px;
				display: none;
			}
			#faq {
				font-size: 18px;
				margin-top: 20px;
			}
			#faq:hover{
				text-decoration: none;
			}

			.unselectable {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			#footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 45px;
				text-align: center;
			}
			#connect-pane {
				margin-left: auto;
				margin-right: auto;
				width: 50%;
				border-color: #ddd;
				border-style: solid;
				border-width: 1px;
				border-radius: 3px;
			}
		</style>
		<script>


			var socket;
			var current_users = {};
			var minSafeModulus;
			var selectedTarget;
			var username;
			var currentRoom;
			var displayingSettings = false;
			function initWebSockets(){
				username = $('#connect-nickname').val();
				var pubkey = crypt.getPublicKey();
				var qstring = "username=" + username + "&pubkey=" + pubkey;
				socket = io.connect(location.origin, {'connect timeout': 1000, query: qstring, multiplex: false});

				console.log(socket);
				socket.on('connect', function(){
					$('#connect-pane').hide();
					$('#chat-nav').show();
					$('#chat-box').show();
					socket.emit('switchroom', 'Avesta');
				});

				socket.on('error', function(error) {
					if(error === "nickname in use"){
						console.log('bad username!');
					}

					
				});

				socket.on('connect_error', function(data){
					console.log('herp');
				})

				socket.on('updatechat', function (username, data) {
					// if someone sends a chat message, append it to the conversation
					message = decryptMessage(data);
					addMessage(username, message);
				});

				socket.on('updateusers', function(new_username, users, old_username, room){
					console.log('users being udpated');
					// if a user is joining
					if(new_username){
						if(new_username == username){
							currentRoom = room;
							$('#conversation').empty();
							// switch the active tab
							$('#chat-nav > li').removeClass('active');
							$('#' + currentRoom + '-tab').addClass('active');
						}
						addMessage(new_username, 'has joined the room.')
					}
					// if a user is leaving
					else{
						if(old_username != username){
							addMessage(old_username, 'has left the room.');
							clearTargetSelector(old_username);
						}
					}
					// update the current user/pubkey hash
					current_users = userListToHash(users);
					calculateMinModulus();
					updateTargetSelector();
				});

				// listener, whenever the server emits 'updaterooms', this updates the room the client is in
				socket.on('updaterooms', function(rooms) {
					console.log('updating rooms');

					$('#chat-nav').empty();

					$.each(rooms, function(key, value){
						var tab = 
						$('<li id="' + key +'-tab">').append(
							$('<a>').attr('href', '#')
							.html(key + ' &nbsp;<span class="badge">' + value + '</span>'))
						.click(
							function(){
								switchRoom(key);
							});
						$('#chat-nav').append(tab);
					});
					$('#chat-nav').append(
						$('<li id="settings-tab">').append(
							$('<a>').attr('href', '#')
									.html('Settings &nbsp;<span id="settings-logo" class="glyphicon glyphicon-wrench"></span>'
							)
						).click(function(){
							displaySettings();
						})
					);
					$('#' + currentRoom + '-tab').addClass('active');


				});
			}

			function addMessage(user, message) {
				$('#conversation').append('<b>'+ user + ':</b> ' + message + '<br>');
				$("#conversation").animate({ scrollTop: $('#conversation')[0].scrollHeight}, 250);
			}
			 
			function userListToHash(users){
				res = {};
				var i;
				for(i in users){
					splIndex = users[i].indexOf("-----BEGIN PUBLIC KEY-----");
					res[users[i].substring(0, splIndex)] = users[i].substring(splIndex);
				}
				return res;
			}

			function switchRoom(room){
				// this will happen when we switch from the settings tab and back
				if(displayingSettings){
					$('#conversation').show();
					$('#chatter').show();
					$('#settings').hide();
					displayingSettings = false;
				}

				if(room == currentRoom){
					// switch the active tab
					$('#chat-nav > li').removeClass('active');
					$('#' + room + '-tab').addClass('active');
					return;
				}

				socket.emit('switchroom', room);
			}

			function displaySettings(){
				$('#conversation').hide();
				$('#chatter').hide();
				$('#settings').show();
				$('#chat-nav > li').removeClass('active');
				$('#settings-tab').addClass('active');
				displayingSettings = true;
			}

			function updateTargetSelector(){
				var key;
				$('#target-selection-dropdown').empty();
				for(key in current_users){
					$('#target-selection-dropdown').append(
						$('<li>')
						.append(
							$('<a>').addClass("target-selection").attr("href", "#").text(key)
						));
				}
				$('#target-selection-dropdown').append(
					$('<li>').addClass('divider')
				);
				$('#target-selection-dropdown').append(
					$('<li>')
					.append($('<a>').attr('href', '#').text('Broadcast')));
				$('.target-selection').click(function(){
					var newTarget = $(this).text();
					$('#target-selection-trigger').attr('selected-target', newTarget);
					$('#target-selection-trigger').html(newTarget + ' <span class="caret"></span>')
				});
			}

			function clearTargetSelector(username){
				if($('#target-selection-trigger').text().trim() === username){
					$('#target-selection-trigger').html('Target <span class="caret"></span>');
				}
			}
			// on load of page
			$(function(){
				$('#connect').click(function(){
					generateKeys();
					initWebSockets();
				});
				$('#send-button').click(function(){
					sendMessage();
				});

				$('#message').bind('keypress', function(e) {
					var code = e.keyCode || e.which;
 					if(code == 13) { //Enter keycode
   						sendMessage();
 					}
				});
			});

			function sendMessage(){
				var data = encryptMessage($('#message').val(), $('#target-selection-trigger').attr('selected-target'));
				if(!data){
					alert('try a different message!');
					return;
				}
				socket.emit('sendchat', data);
				$('#message').val(null);
			}



			var GARBAGE_PADDING = 5;
			function encryptMessage(data, target){
				pubkey = current_users[target];
				var crypto = new JSEncrypt();
				crypto.setPublicKey(pubkey);

				var candidate;
				for (var i  = 0; i < 100; i++){
					candidate = randomGarbage(GARBAGE_PADDING) + data;
					var enc_mess = crypto.encrypt(candidate);
					// if our garbage padded message is less than the minimum modulus, we're good!
					if(minSafeModulus.compareTo(enc_mess.bi) > 0){
						return enc_mess.s;
					}
					console.log('we had an unsafe message!');
				}

				return null;
			}

			/* decryptMessage
			 *
			 * attempts to decrypt the message using our priv key, and if successful
			 * trims off the garbage character. otherwise, return the original message
			 *
			 * Required: 
			 *   [0] data: the message to decrypt
			 * 
			 * Returns: either the decrypted message or the original
			 */
			function decryptMessage(data){
				decrypted_message = crypt.decrypt(data);
				if(decrypted_message){
					return decrypted_message.substring(GARBAGE_PADDING);
				}
				return data;
			}


			/* randomGarbage
			 *
			 * Generates a string of random characters. Uses the SecureRandom rng mechanism
			 * provided by jsencrypt
			 *
			 * Required: 
			 *   [0] n: the number of random bytes to include in the string
			 * 
			 * Returns: A string of n random ASCII characters
			 */
			function randomGarbage(n){
				garbage = [];
				for(var i = 0; i<n; i++){
					garbage.push(randomByte());
				}
				return String.fromCharCode.apply(String, garbage);
			}

			/* generateKeys
			 * 
			 * loads a public/private key pair into the global crypt.
			 */
			var crypt;
			function generateKeys(){
				// a keysize of 1024 will allow messages of up to 936 bits, or 117 characters
				// minus the five that we use to pad random garbage
				var keySize = 1024;
				var crypto = new JSEncrypt({default_key_size: keySize});
				crypto.getKey();
				crypt = crypto;
			}


			/* calculateMinModulus
			 * 
			 * iterates over all public keys available in the pool and calculates the minimum
			 * modulus among them, then sets that value to the global minSafeModulus
			 * this is to remove the possibility of inferring a public key used because the message
			 * exceeds the modulus of all other public keys
			 */
			function calculateMinModulus(){
				var keys = Object.keys(current_users);	
				var crypto = new JSEncrypt();
				crypto.setPublicKey(current_users[keys[0]]);
				var minMod = crypto.key.n;
				for(var i = 1; i<keys.length; i++){
					crypto.setPublicKey(current_users[keys[i]]);
					minMod = crypto.key.n.min(minMod);
				}
				minSafeModulus = minMod;
			}


		</script>

	</head>

	<body>


		<div class="container">
			<div class="page-header">
				<h1 id="title" class="unselectable">Cherry Ripe</a> <a id="faq" href="#" class="pull-right">What is this?</a></h1>

			</div>

			<div class="container" id="connect-pane">
				<form role="form">
					<br>
					<div class="form-group">
				    	<label for="connect-username">Username</label>
				    	<input type="text" class="form-control" id="connect-username" placeholder="Enter username">
					</div>
					<div class="form-group">
					    <label for="connect-password">Password</label>
					    <input type="password" class="form-control" id="connect-password" placeholder="Enter password">
					</div>
					<p class="help-block">Or connect anonymously</p>
					<div class="form-group">
					    <label for="connect-nickname">Nickname</label>
					    <input type="text" class="form-control" id="connect-nickname" placeholder="Pick a nickname">
					</div>
  					<div id="connect" class="btn btn-default">Connect</div>
				</form>
			</div>


			<!-- CHAT STUFF -->

			<ul id="chat-nav" class="nav nav-tabs nav-justified">
			  <li id="Avesta-tab" class="active"><a href="#">Avesta &nbsp;<span class="badge">11</span></a></li>
			  <li id="Nirvana-tab"><a href="#">Nirvana &nbsp;<span class="badge">14</span></a></li>
			  <li id="Valhalla-tab"><a href="#">Valhalla &nbsp;<span class="badge">9</span></a></li>
			  <li id="settings-tab"><a href="#">Settings &nbsp;<span id="settings-logo" class="glyphicon glyphicon-wrench"></span></a></li>
			</ul>
			<div id="chat-box">
				<div id="conversation"></div>

				<!-- SETTINGS -->
				<div class="container" id="settings">
					<div class="checkbox">
						<label>
					  		<input type="checkbox" value="">
					    	Erase messages when switching rooms
						</label>
					</div>

					<div class="checkbox">
						<label>
					  		<input type="checkbox" value="">
					    	Hide encrypted messages in the chatbox
						</label>
					</div>

					<div class="checkbox">
						<label>
					  		<input type="checkbox" value="">
					    	Show my messages unencrypted in the chatbox
						</label>
					</div>

					<div class="checkbox">
						<label>
					  		<input type="checkbox" value="">
					    	Play a notification sound when receiving a new decrypted message
						</label>
					</div>
				</div>
				<!-- END SETTINGS -->


				<div id="chatter" class="input-group">
				  <div class="input-group-btn">
				    <button id="target-selection-trigger" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Target <span class="caret"></span></button>
			        <ul id="target-selection-dropdown" class="dropdown-menu pull-left">
			          <li><a class="target-selection" href="#">Aaron</a></li>
			          <li><a class="target-selection" href="#">John</a></li>
			          <li><a class="target-selection" href="#">Andrew</a></li>
			          <li class="divider"></li>
			          <li><a href="#">Broadcast</a></li>
			        </ul>
				  </div>
				  <input id="message" type="text" class="form-control">
				  <div class="input-group-btn">
				  	<button id="send-button" type="button" class="btn btn-default">Send</button>
				  </div>
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="container">
				<p>Onion Link: <a>http://derpderpderperperperpeprperer.onion</a></p>
			</div>
		</div>
	</body>
</html>