<script src="/socket.io/socket.io.js"></script>
<script src="/js/jsencrypt.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>


	var socket;
	var current_users = {};
	function initWebSockets(){
		socket = io.connect('http://localhost:3000');

		socket.on('connect', function(){
			// add the user with the username and the generated public key
			socket.emit('adduser', $('#username').val(), crypt.getPublicKey());
		});

		socket.on('updatechat', function (username, data) {
			// if someone sends a chat message, append it to the conversation
			$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
		});

		socket.on('updateusers', function(new_username, users, old_username){
			console.log('users being udpated');
			// if a user is joining
			if(new_username){
				$('#conversation').append('<b>'+new_username + ':</b> has joined the room.<br>');	
			}
			// if a user is leaving
			else{
				$('#conversation').append('<b>'+old_username + ':</b> has left the room.<br>');
			}
			// update the current user/pubkey hash
			current_users = userListToHash(users);
			$('#pkeys').empty();
			for(key in current_users){
				$('#pkeys').append(key);
				$('#pkeys').append('<br>');
				$('#pkeys').append(current_users[key]);
				$('#pkeys').append('<br>');
			}
		});

		// listener, whenever the server emits 'updaterooms', this updates the room the client is in
		socket.on('updaterooms', function(rooms, current_room) {
			$('#rooms').empty();
			$.each(rooms, function(key, value) {
				if(value == current_room){
					$('#rooms').append('<div>' + value + '</div>');
				}
				else {
					$('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
				}
			});
		});
	}
	 
	function userListToHash(users){
		res = {};
		var i;
		for(i in users){
			splIndex = users[i].indexOf("-----BEGIN PUBLIC KEY-----");
			res[users[i].substring(0, splIndex)] = users[i].substring(splIndex);
		}
		return res;
	}

	function switchRoom(room){
		socket.emit('switchroom', room);
	}

	// on load of page
	$(function(){
		$('#connect').click(function(){
			generateKeys();
			initWebSockets();
		});
		$('#send').click(function(){
			socket.emit('sendchat', $('#text').val());
		});
	});

	var crypt;
	function generateKeys(){
		// a keysize of 4096 will allow messages of up to 936 bits, or 117 characters
		var keySize = 1024;
		var crypto = new JSEncrypt({default_key_size: keySize});
		var dt = new Date();
		var time = -(dt.getTime());
		crypto.getKey();
		dt = new Date();
		time += (dt.getTime());
		$("#privKey").text(crypto.getPrivateKey());
		$("#pubKey").text(crypto.getPublicKey());
		crypt = crypto;
	}



</script>
<p>Welcome to Cherry-Ripe</p>
<p id="rooms"></p>
<p id="conversation"></p>
<input id="text"></input>
<button id="send">Send</button>
<br></br>
<input id="username"></input>
<button id="connect">Connect</button>
<p id="pkeys"></p>

<p id="privKey"></p>
<p id="pubKey"></p>